/*   Google Fonts CDN   */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*  RESET CSS  */
* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #000;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  cursor: pointer;
}
/*  // RESET CSS    */

/*  SECTION : PROLOGUE  */
section.prologue {
  margin-top: 87px;
  border: 2px solid black;
  position: relative;
}